<div class="header">
    <button class="btn btn-small btn-timeline toggle-down">Timeline</button>
    <button class="btn btn-small btn-tasks">Tasks</button>
    <p class="date">Monday 04.09.2017</p>
    <div class="header-right">
        <span class="current-time">Current Time: 0800</span>
        <button class="btn btn-small"><i class="fa fa-print"/></button>
        <button class="btn btn-small"><i class="fa fa-bars"/></button>
        <button class="btn btn-small"><i class="fa fa-angle-double-down"/></button>
        <button class="btn btn-small"><i class="fa fa-angle-double-up"/></button>
    </div>
</div>
<div></div>
<div class="timeline-svg-container">
</div>
<div class="timeline-controls" style="display: none">
    <button class="btn btn-small timeline-fit">FIT</button>
    <button class="btn btn-small timeline-config"></button>
</div>